* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f4f4f4;
    background-color: #141414;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(0,4,101,1) 100%);
    height: 100vh;


    border: 1px solid white;
}


header { 
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 600px;
    height: 100px;

    border: 1px solid orange;
}

.logo {
    align-self: center;

    font-family:  'Linear Beam', sans-serif;
    font-size: 50px;

    border: 1px solid orange;

}

content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    min-height: 70%;
    width: 600px;
    margin-top: 50px;

    border: 1px solid white;

}

.box-link {

    width: 500px;
    height: 100px;
    margin-top: 25px;

    border-radius: 10px;

    border: 1px solid red;

}

footer{
    position: absolute;
    bottom: 0;
    /* left: 0;
    right: 0; */
    height: 100px;
    width: 100vw;


    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid green;

}

